body {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

.page-header {
  max-width: 1200px;
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.text-title {
  text-align: right;
  font-size: 40px;
  transform: translateY(50%);
}

.logo {
  background-color: gainsboro;
  transform: translateY(-50%);
}

.nav .link {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  padding: 5px, 10px;
}

.nav a:hover,
.nav a:focus {
  color: blue;
}

.copyright {
  text-align: center;
}
