body {
  font-family: 'Corinthia', cursive;
  /* font-family: "Montserrat", sans-serif; */
  background-color: #f9f9fd;
}

.page-header {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
}

.text-title {
  margin-left: 300px;
  font-size: 70px;
  transform: translateY(50%);
}

.logo {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateY(-50%);
}

.container {
  display: flex;
  font-size: 50px;
  padding: 5px, 10px;
  margin-bottom: 20px;
  width: auto;
  justify-content: center;
}

.container .link {
  text-decoration: none;
  color: black;
}

.container a:hover,
.container a:focus {
  color: blue;
}

.container > .item:not(:last-child) {
  margin-right: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.greetings {
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.images {
  display: block;
  align-content: center;
  padding-left: 155px;
  padding-right: 120px;
}

.image {
  display: inline;
}

.copyright {
  font-size: 30px;
  text-align: center;
}

.page-footer {
  background-color: gainsboro;
  padding-top: 10px;
  padding-bottom: 40px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-image: none;
}

.social-links > .item {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.biography {
  width: 950px;
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}

.biography-foto {
  display: inline;
}

.biography-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
}

.biography-title {
  text-align: center;
  font-size: 35px;
}

.biography-text {
  text-align: center;
  position: relative;
  font-size: 35px;
}
