@media screen and (max-width: 767px) {
  .biography {
    max-width: 450px;

    &__foto {
      max-width: 450px;
      display: block;
    }

    &__card {
      padding: 20px;
    }

    &__title {
      font-size: 30px;

      margin-top: 15px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 480px) {
  .biography {
    max-width: 300px;

    &__foto {
      max-width: 300px;
    }
  }
}
