@media screen and (max-width: 767px) {
  .gallery {
    &__title {
      font-size: 20px;
    }

    &__list {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    &__image {
      max-width: 450px;
    }
  }
}

@media screen and (max-width: 480px) {
  .gallery {
    &__list {
      max-width: 320px;
    }

    &__image {
      max-width: 290px;
    }
  }
}
