@media screen and (min-width: 480px) and (max-width: 767px) {
  .gallery {
    &__title {
      font-size: 20px;
    }

    &__list {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__image {
      max-width: 450px;
    }
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    &__list {
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__image {
      max-width: 290px;
    }
  }
}
