@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    &__title {
      font-size: 20px;
    }

    &__img {
      max-width: 480px;
    }
  }
}

@media screen and (max-width: 479px) {
  .hero {
    &__title {
      font-size: 15px;
    }

    &__img {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
