@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    max-width: 600px;

    &__title {
      font-size: 45px;
    }

    &__logo {
      width: 65px;
      height: 65px;
    }

    &__nav {
      max-width: 250px;
    }

    &__link {
      font-size: 25px;

      &--logo {
        top: -20px;
      }
    }
  }
}
