@media screen and (min-width: 1200px) {
  .social-links {
    &__link {
      width: 40px;
      height: 40px;
      margin-right: 30px;
    }

    &__icon {
      width: 40px;
      height: 40px;
    }
  }
}
